/*
blue: #1A3464
purple: #641A59
brown: #644A1A
green: #1A6425
*/

body {
	background: #2f2f2f;
	color: white;
}

.error {
	color: red;
}

.caution {
	background: #641a1a;
	font-weight: 600;
	border: none;
	padding: 8px;
}

.abutton {
	padding: 10px 0px;
}

.edit {
	background: #1A6425;
	border: none;
	padding: 8px;
}

table {
	border-spacing: 0px 5px;
	/*color: black;*/
	td:first-child, th:first-child {
		border-radius: 5px 0 0 5px;
	}
	td:last-child, th:last-child {
		border-radius: 0 5px 5px 0;
	}
}

thead th {
	background: #261C0A;
	padding: 0.25em 0em;
}

tbody tr {
	background: #10213F;
	td {
		margin-top: 0.25em;
		padding: 0.25em 0.25em;
	}
}

tr td:nth-child(-n + 2) {
	padding: 0em 1em 0em 0.5em;
}

a {
	color: white;
	background: #641A59;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	/*border: 1px solid #374D77;*/
}

body {
	font-family: Garamond;
	font-weight: bold;
}