<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:replace="~{fragments/heading :: headerFragment}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" th:src="@{/js/rules.js}"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/rules.css" 
	          th:href="@{/css/rules.css}"></link>
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar(5)}"></div>
        <div>
            <h1>Add New Rule</h1>
            <table>
                <thead>
                    <tr>
                        <th>Rule Regex</th>
                        <th>Update Nickname</th>
                        <th>Update Category</th>
                        <th>Ignore Case?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="#" th:action="@{/rules}" th:object="${newRule}" method="post">
                            <td><input type="text" th:field="*{ruleRegex}"></td>
                            <td><input type="text" th:field="*{updatedNickname}"></td>
                            <td>
                                <select th:field="*{updateToCategory}">
                                    <option value=""></option>
                                    <option th:each="category : ${allCategories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                                </select>
                            </td>
                            <td><input type="checkbox" th:field="*{ignoreCase}" th:value="${ignoreCase}"></td>
                            <td><input type="Submit" value="Add"></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div id="rules-head">
                <div>
                    <h1>Rules</h1>
                </div>
                <div>
                    <button onclick="runAllRules()">Run Rules</button>
                </div>
            </div>
            <table id="rules-table">
                <thead>
                    <tr>
                        <th>Rule Regex</th>
                        <th>Update Nickname</th>
                        <th>Update Category</th>
                        <th>Ignore Case</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rule : ${rules}">
                        <td th:text="${rule.ruleRegex}"></td>
                        <td th:text="${rule.updatedNickname}"></td>
                        <td th:text="${rule.updateToCategory != null ? rule.updateToCategory.name : null}"></td>
                        <td th:text="${rule.ignoreCase}"></td>
                        <td>
                            <button class="delete-button" th:data-id="${rule.id}">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>