<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="~{fragments/heading :: headerFragment}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" th:src="@{/js/transaction-chart.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar(3)}"></div>
    <div id="chart-options">
      <button onclick="chart = displayDoughnutChart(transactionsJS, 'CATEGORY', chart)">Category</button>
      <button onclick="chart = displayDoughnutChart(transactionsJS, 'MERCHANT', chart)">Merchant</button>
    </div>
    <div style="width: 800px; height: auto;" onload="displayDoughnutChart(transactions, 'CATEGORY')">
      <canvas id="transactionChart"></canvas>
    </div>
    <script th:inline="javascript">
      var transactionsJS = /*[[${transactions}]]*/ [];
      var chart = displayDoughnutChart(transactionsJS, "MERCHANT");
    </script>
  </body>
</html>