<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="~{fragments/heading :: headerFragment}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" th:src="@{/js/transaction-chart.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar(3)}"></div>
    <div style="width: 800px; height: auto;">
        <canvas id="transactionChart"></canvas>
    </div>
    <script th:inline="javascript">
        displayDoughnutChart(/*[[${chartEntries}]]*/ []);
    </script>
  </body>
</html>