<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="~{fragments/heading :: headerFragment}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" th:src="@{/js/transaction-chart.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar(3)}"></div>
    <div id="chart-container">
      <h1 th:text="${spendingText}"></h1>
      <div id="chart-wrapper" onload="displayDoughnutChart(transactions, 'CATEGORY')">
        <canvas id="transaction-chart"></canvas>
      </div>
      <div id="category-button" onclick="chart = displayDoughnutChart(transactionsJS, 'CATEGORY', chart)" class="div-button">Category</div>
      <div id="merchant-button" onclick="chart = displayDoughnutChart(transactionsJS, 'MERCHANT', chart)" class="div-button">Merchant</div>
    </div>
    <script th:inline="javascript">
      var transactionsJS = /*[[${transactions}]]*/ [];
      var chart = displayDoughnutChart(transactionsJS, "MERCHANT");
    </script>
  </body>
</html>