<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="~{fragments/heading :: headerFragment}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar(2)}"></div>
    <div id="txn-search">
      <form th:action="@{/finances/transactions}" id="searchForm">
        <div>
          <input id="keyword" type="search" name="keyword" th:value="${keyword}" required placeholder="Enter keyword" />
          <button type="submit">Search</button>
        </div>
      </form>
      <form th:action="@{/finances/transactions}" id="clearForm">
        <button id="btnClear" type="submit">Clear</button>
      </form>
    </div>
    <div id="transaction-table" th:switch="${transactionPage.size}">
      <p th:case="0">No transactions found</p>
      <div th:case="*" id="transaction-data">
      	<div id="account-sidebar">
      	  <span>Accounts</span>
      	  <div id="account-sidebar-list">
      	    <form id="accountForm" th:action="@{/finances/transactions}"> 
      	      <div th:each="account : ${accounts}">
      	        <input type="checkbox" th:checked="${accountsFiltered.contains(account)}"></input>
      	        <div th:text="${account.accountNumber}"></div>
      	      </div>
      	    </form>
      	  </div>
      	</div>
      	<div>
	        <table>
	          <thead>
	            <tr>
	              <th th:replace="~{fragments/sorting :: sorting('transactionDate', 'Date')}">Date</th>
	              <th th:replace="~{fragments/sorting :: sorting('account.accountNumber', 'Account')}"></th>
	              <th th:replace="~{fragments/sorting :: sorting('merchant', 'Merchant')}" class="grow"></th>
	              <th th:replace="~{fragments/sorting :: sorting('amount', 'Amount')}"></th>
	              <th>Category</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="transaction : ${transactionPage.content}">
	              <td th:text="${#dates.format(transaction.transactionDate, 'MM/dd')}"></td>
	              <td th:text="${transaction.account.accountNumber}"></td>
	              <td th:text="${transaction.nickname == null} ? ${transaction.merchant} : ${transaction.nickname}" class="grow"></td>
	              <td class="number" th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
	              <td th:text="${transaction.category}"></td>
	            </tr>
	          </tbody>
	        </table>
	        <div class="pagination">
	          <div th:if="${transactionPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
	            <a th:href="@{/finances/transactions(size=${transactionPage.size}, page=${pageNumber})}" th:text=${pageNumber}></a>
	          </div>
	        </div>
        </div>
      </div>
    </div>
  </body>
</html>