<html>
	<head>
		<title>My Video Games</title>
		<link rel="stylesheet" type="text/css" href="../static/css/videogames.css" th:href="@{/css/videogames.css}" />
	</head>
	<body>
		<h2>Update Game</h2>
		<div>
			<form action="#" th:action="@{/videogames/{id}(id=${videoGame.id})}" th:object="${videoGame}" method="post">
				<div th:if="${#fields.hasAnyErrors()}">
					<ul>
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}" class="error"/>
					</ul>
				</div>
				<div>
					<label for="name">Name</label>
					<input type="text" th:field="*{name}" id="name" placeholder="Name" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
					<label for="platform">Platform</label>
					<input type="text" th:field="*{platform}" id="platform" placeholder="Platform" />
					<span th:if="${#fields.hasErrors('platform')}" th:errors="*{platform}" class="error"></span>
				</div>
				<input type="submit" value="Update Game"/>
			</form>
		</div>
		<div>
			<a th:href="@{/videogames}">Back</a>
		</div>
	</body>
</html>